NODE_ENV=development

# Backend
PORT=3000
JWT_SECRET=super_secret_dev_key
CORS_ORIGIN=http://localhost:5173

# Prisma/Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/letsgoplay?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# Frontend
VITE_API_URL=http://localhost:3000/api
